@{
    ViewData["Title"] = "Home Page";
}
@model MVC.Boilerplate.Models.FileUpload.FileUploadModel

<link href="/css/site.css" rel="stylesheet">
@*<div class="text-center">
  <img src="~/img/dashboard.PNG" style="width:104.5%; height:auto; margin-left: -2.3%;opacity:0.7;  ">
</div>*@



<div class="Landing Image">
    <img src="http://wireframes.php-dev.in/Ashwin/Terap/images/home/u16.jpg" class="d-block w-100" alt="...">
</div>
<br>
<div class="a" style="text-align: center">
    <h3>Search for pages, content, therapist or product on Terap</h3>
</div>
<br>
<form class="d-flex" role="search">
    <h1 style="text-align:initial"> Recommended </h1>
    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br>
<br>
<br>

<style>

    .video {
        width: 320px;
        height: 180px;
        margin-right: 10px;
    }

    .form-control {
        width: 900px;
        margin-left: 500px;
    }

    /*.card-img-top{
            height:6rem !important;
            width:6rem !important;
            margin:auto;
        }*/

    .img-fluid {
        width: 320px;
        height: 180px;
        margin-right: 10px;
    }
</style>

<div class="row d-flex justify-content-center">
    <div class="col-11">

<div class="multiple-items">
    <video class="video" controls preload="auto">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.mp4"
                type="video/mp4">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.ogg"
                type="video/ogg">
    </video>
    <video class="video" controls preload="auto">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.mp4"
                type="video/mp4">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.ogg"
                type="video/ogg">
    </video>
    <video class="video" controls preload="auto">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.mp4"
                type="video/mp4">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.ogg"
                type="video/ogg">
    </video>
    <video class="video" controls preload="auto">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.mp4"
                type="video/mp4">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.ogg"
                type="video/ogg">
    </video>
    <video class="video" controls preload="auto">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.mp4"
                type="video/mp4">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.ogg"
                type="video/ogg">
    </video>
    <video class="video" controls preload="auto">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.mp4"
                type="video/mp4">
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190616234019/Canvas.move_.ogg"
                type="video/ogg">
    </video>
</div>

</div>
</div>
<br>

<div class="a">
    <h3 style="text-align:center">
        How can we help you?
    </h3>
</div>
<br>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        @*<strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>*@
        @*<h3 class="mb-0">Featured post</h3>*@
        @*<div class="mb-1 text-body-secondary">Nov 12</div>*@
        <h5 class="card-text mb-auto">
            You can become active participants in the work they contents by offering them a monthly membership.
            You give them access to exclusive content, community, and insight into your creative process.
            you can let your fans become active participants in the work they love by offering them a monthly membership.
            You give them access to exclusive content, community, and insight into your creative process.
            You can become active participants in the work they contents by offering them a monthly membership.
            You give them access to exclusive content, community, and insight into your creative process.
            you can let your fans become active participants in the work they love by offering them a monthly membership.
            You give them access to exclusive content, community, and insight into your creative process.
        </h5>

    </div>
    <div class="col-auto d-none d-lg-block">
        <img id="blog" src="http://wireframes.php-dev.in/Ashwin/Terap/images/home/u90.png" height="400" width="700">
    </div>
</div>

<br>
<h1 style="text-align:center">Explore Categories</h1>
<br>


<div class="row d-flex justify-content-center">
    <div class="col-11">
<div class="multiple-items">
    <img class="img-fluid" src="https://www.verywellmind.com/thmb/quHBKMBFLO0qmAEOj7hD6ON1MDw=/6000x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychologists-and-what-they-do-2795627_v1-9a9b856f7d1c494aafb96f59e4843f55.png">
    <!-- Unnamed () -->
    <img class="img-fluid" src="https://www.verywellhealth.com/thmb/jlTPQPw55Uo1NMAJ5svGbn1xRLQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychotherapists-5188864-DD-V4-0b63a7e5d34e47a4942a02180e5f832a.jpg">
    <img class="img-fluid" src="https://www.verywellmind.com/thmb/quHBKMBFLO0qmAEOj7hD6ON1MDw=/6000x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychologists-and-what-they-do-2795627_v1-9a9b856f7d1c494aafb96f59e4843f55.png">
    <img class="img-fluid" src="https://www.verywellhealth.com/thmb/jlTPQPw55Uo1NMAJ5svGbn1xRLQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychotherapists-5188864-DD-V4-0b63a7e5d34e47a4942a02180e5f832a.jpg">
    <img class="img-fluid" src="https://www.verywellmind.com/thmb/quHBKMBFLO0qmAEOj7hD6ON1MDw=/6000x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychologists-and-what-they-do-2795627_v1-9a9b856f7d1c494aafb96f59e4843f55.png">
    <img class="img-fluid" src="https://www.verywellhealth.com/thmb/jlTPQPw55Uo1NMAJ5svGbn1xRLQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychotherapists-5188864-DD-V4-0b63a7e5d34e47a4942a02180e5f832a.jpg">
    <img class="img-fluid" src="https://www.verywellmind.com/thmb/quHBKMBFLO0qmAEOj7hD6ON1MDw=/6000x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychologists-and-what-they-do-2795627_v1-9a9b856f7d1c494aafb96f59e4843f55.png">
    <img class="img-fluid" src="https://www.verywellhealth.com/thmb/jlTPQPw55Uo1NMAJ5svGbn1xRLQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-psychotherapists-5188864-DD-V4-0b63a7e5d34e47a4942a02180e5f832a.jpg">


</div>
</div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 5,
            arrow: true
        });
    })

</script>